#wrapper {
	border: 1px solid lightgrey;
	width: 1000px;
	height: 1500px;
	margin: 0 auto;
}

/*шапка*/
header {
	height: 62px;
	border-top: 4px solid #e3e3e3;
}

/*логотип*/
h1.logotip {
	margin: 0 auto;
	float: left;
}

h1.logotip a {
	outline: none;
	display: block;
	text-indent: -9999px;
	background: url(images/logo.png) no-repeat;
	width: 202px;
	height: 35px;
	margin: 14px 0 0 57px;
}

/*форма поиска*/
.form-wrapper {
	position: relative;
	top: 13px;
	left: 495px;
	overflow: hidden;
}

.form-wrapper #search {
	width: 146px;
	padding: 6.5px 13px;
	float: left;    
	font: 0.875em Arial, Verdana, sans-serif;
	color: #000;
	border: 1px solid #e4e2e0;
	border-right-width: 0px;	
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;
	border-radius: 6px 0 0 6px;  
}

.form-wrapper #search:focus {
	outline: 0;
	border: 1px solid #3088a9;
	border-right-width: 0px;	
	-moz-box-shadow: -1px 0px 0px 0px #3088a9 inset;
	-webkit-box-shadow: -1px 0px 0px 0px #3088a9 inset;
	box-shadow: -1px 0px 0px 0px #3088a9 inset;

}

.form-wrapper #search::-webkit-input-placeholder {
   color: #b5b5b5;
   font-weight: normal;
}

.form-wrapper #search::-moz-placeholder {
	color: #b5b5b5;
	font-weight: normal;
}

.form-wrapper #search:-ms-input-placeholder {
    color: #b5b5b5;
    font-weight: normal;
} 

.form-wrapper input:invalid { 
	box-shadow: none; 
}

/*кнопка поиска*/
.form-wrapper #submit {
	position: absolute;
    height: 100%;
    width: 47px;
    border: 1px solid #e4e2e0;
	border-left-width: 0px;
	-moz-border-radius: 0px 6px 6px 0px;
	-webkit-border-radius: 0px 6px 6px 0px;
	border-radius: 0px 6px 6px 0px;
	background-color: #f2f1f1;
	cursor: pointer;
	background: url(images/lupa.png) no-repeat 50% 50%, -webkit-gradient(linear, left top, left bottom, from(#f5f3f3), to(#ededed));
	background: url(images/lupa.png) no-repeat 50% 50%, -moz-linear-gradient(top, #f5f3f3, #ededed);
	background: url(images/lupa.png) no-repeat 50% 50%, -ms-linear-gradient(top, #f5f3f3, #ededed);
	background: url(images/lupa.png) no-repeat 50% 50%, -o-linear-gradient(top, #f5f3f3, #ededed);
	background: url(images/lupa.png) no-repeat 50% 50%, linear-gradient(top, #f5f3f3, #ededed);
    background: url(images/lupa.png) no-repeat 50% 50%, -webkit-linear-gradient(top, #f5f3f3, #ededed);	
}

.form-wrapper #submit:active { outline: 0; }

.form-wrapper #submit::-moz-focus-inner {border: 0;}

.form-wrapper #submit:hover,.form-wrapper #submit:focus {outline: none;	}

.form-wrapper #submit:focus {
	outline: 0;
	/*border: 1px solid #3088a9;
	border-left-width: 0px;
	-moz-box-shadow: 1px 0px 0px 0px #3088a9 inset;
	-webkit-box-shadow: 1px 0px 0px 0px #3088a9 inset;
	box-shadow: 1px 0px 0px 0px #3088a9 inset;*/
}

/*блок слайдера */
#content_slider {
	
}

#slider {
	/*width: 718px;*/
	/*height: 258px;*/
	border: 1px solid #e6e4e2;
	margin-left: 24px;
	padding: 9px;
	float: left;
	overflow: hidden;
}

#slider img {
	display: block;
}

/*блок с телефоном*/
#info {
	border: 1px solid red;
	float: left;
}

#info .phone {
	font: 0.9em Arial, Verdana, sans-serif;
	color: #343434;
	margin: 3px 0 0 29px;

}

#info .tel {
	margin: 8px 0 0 29px;
	font: 1.43em Arial, Verdana, sans-serif;
	color: #343434;
}

#info .workhours {
	margin: 17px 0 0 29px;
	font: 0.8em Arial, Verdana, sans-serif;
	color: #7e7e7e;
}

#info .workhours p {
	margin: 0px 0px 7px 0px;
}

#info .workhours span {
	color: #ef8814;
}

/*Кнопка Связаться с нами*/
#info button {
	width: 155px;
	height: 30px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	display: table;
	padding: 0;  
}

#info .contact_us {
	display: table-cell;
	vertical-align: middle;
	font: bold 1em Arial, sans-serif;
	color: #fff;
}

#info .circle {
	display: table-cell;
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
	align: right;
}