html {
	font-size: 125%;
}

body {
	font-size: 50%;
}

.clear {
	clear: both;
}

#wrapper {
	border: 1px solid lightgrey;
	width: 1000px;
	height: 1500px;
	margin: 0 auto;
}

/*шапка*/
header {
	height: 62px;
	border-top: 4px solid #e3e3e3;
}

/*логотип*/
h1.logotip {
	margin: 0 auto;
	float: left;
}

h1.logotip a {
	outline: none;
	display: block;
	text-indent: -9999px;
	background: url(images/logo.png) no-repeat;
	width: 202px;
	height: 35px;
	margin: 14px 0 0 57px;
}

/*форма поиска*/
.form-wrapper {
	position: relative;
	top: 13px;
	left: 495px;
	overflow: hidden;
}

.form-wrapper #search {
	width: 146px;
	padding: 6.5px 13px;
	float: left;    
	font: 1.2em Arial, Verdana, sans-serif;
	color: #000;
	border: 1px solid #e4e2e0;
	border-right-width: 0px;	
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;
	border-radius: 6px 0 0 6px;  
}

.form-wrapper #search:focus {
	outline: 0;
	border: 1px solid #3088a9;
	border-right-width: 0px;	
	-moz-box-shadow: -1px 0px 0px 0px #3088a9 inset;
	-webkit-box-shadow: -1px 0px 0px 0px #3088a9 inset;
	box-shadow: -1px 0px 0px 0px #3088a9 inset;

}

.form-wrapper #search::-webkit-input-placeholder {
   color: #b5b5b5;
   font-weight: normal;
}

.form-wrapper #search::-moz-placeholder {
	color: #b5b5b5;
	font-weight: normal;
}

.form-wrapper #search:-ms-input-placeholder {
    color: #b5b5b5;
    font-weight: normal;
} 

.form-wrapper input:invalid { 
	box-shadow: none; 
}

/*кнопка поиска*/
.form-wrapper #submit {
	position: absolute;
    height: 100%;
    width: 47px;
    border: 1px solid #e4e2e0;
	border-left-width: 0px;
	-moz-border-radius: 0px 6px 6px 0px;
	-webkit-border-radius: 0px 6px 6px 0px;
	border-radius: 0px 6px 6px 0px;
	background-color: #f2f1f1;
	cursor: pointer;
	background: url(images/lupa.png) no-repeat 50% 50%, -webkit-gradient(linear, left top, left bottom, from(#f5f3f3), to(#ededed));
	background: url(images/lupa.png) no-repeat 50% 50%, -moz-linear-gradient(top, #f5f3f3, #ededed);
	background: url(images/lupa.png) no-repeat 50% 50%, -ms-linear-gradient(top, #f5f3f3, #ededed);
	background: url(images/lupa.png) no-repeat 50% 50%, -o-linear-gradient(top, #f5f3f3, #ededed);
	background: url(images/lupa.png) no-repeat 50% 50%, linear-gradient(top, #f5f3f3, #ededed);
    background: url(images/lupa.png) no-repeat 50% 50%, -webkit-linear-gradient(top, #f5f3f3, #ededed);	
}

.form-wrapper #submit:active { outline: 0; }

.form-wrapper #submit::-moz-focus-inner {border: 0;}

.form-wrapper #submit:hover,.form-wrapper #submit:focus {outline: none;	}

.form-wrapper #submit:focus {
	outline: 0;
	/*border: 1px solid #3088a9;
	border-left-width: 0px;
	-moz-box-shadow: 1px 0px 0px 0px #3088a9 inset;
	-webkit-box-shadow: 1px 0px 0px 0px #3088a9 inset;
	box-shadow: 1px 0px 0px 0px #3088a9 inset;*/
}

/*блок слайдера */
#content_slider {
	
}

#slider {
	/*width: 718px;*/
	/*height: 258px;*/
	border: 1px solid #e6e4e2;
	margin-left: 24px;
	padding: 9px;
	float: left;
	overflow: hidden;
}

#slider img {
	display: block;
}

/*блок с телефоном*/
#info {
	float: left;
}

#info .phone {
	font: 1.4em Arial, Verdana, sans-serif;
	color: #343434;
	margin: 3px 0 0 29px;

}

#info .tel {
	margin: 8px 0 0 29px;
	font: 2.3em Arial, Verdana, sans-serif;
	color: #343434;
}

#info .workhours {
	margin: 17px 0 0 29px;
	font: 1.2em Arial, Verdana, sans-serif;
	color: #7e7e7e;
}

#info .workhours p {
	margin: 0px 0px 7px 0px;
}

#info .workhours span {
	color: #ef8814;
}

/*Кнопка Связаться с нами*/
#info button, .feedback button {
	width: 157px;
	height: 30px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: table;
	padding: 0;  
	margin: 56px 0 0 52px;
	font: bold 1.2em Arial, Verdana, sans-serif;
	background: #fd7d10; /* Old browsers */
	background: -moz-linear-gradient(top,  #fd7d10 0%, #f55509 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd7d10), color-stop(100%,#f55509)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fd7d10 0%,#f55509 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fd7d10 0%,#f55509 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fd7d10 0%,#f55509 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fd7d10 0%,#f55509 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd7d10', endColorstr='#f55509',GradientType=0 ); /* IE6-9 */
	border: none;
}

#info button:hover,.feedback button:hover {
	cursor: pointer;
}

#info button:focus,.feedback button:focus {
	box-shadow: 0px 0px 0px 1px #3088a9;
	outline: 0;
	border: none;	
}

/*firefox focus dotted*/
#info button::-moz-focus-inner,.feedback button::-moz-focus-inner {
	border: 0px solid transparent;
}


#info .contact_us,.feedback .contact_us {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	padding: 0 11px;
}

#info .circle,.feedback .circle {
	display: table-cell;
	width: 18px;
	height: 18px;
	border: 1px solid #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 11px;
	background: #f96300; /* Old browsers */
	background: url(images/arrow.png) 50% 50% no-repeat, -moz-radial-gradient(center, ellipse cover,  #f96300 0%, #fa700e 46%, #ffffff 100%); /* FF3.6+ */
	background: url(images/arrow.png) 50% 50% no-repeat, -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f96300), color-stop(46%,#fa700e), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: url(images/arrow.png) 50% 50% no-repeat, -webkit-radial-gradient(center, ellipse cover,  #f96300 0%,#fa700e 46%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: url(images/arrow.png) 50% 50% no-repeat, -o-radial-gradient(center, ellipse cover,  #f96300 0%,#fa700e 46%,#ffffff 100%); /* Opera 12+ */
	background: url(images/arrow.png) 50% 50% no-repeat, -ms-radial-gradient(center, ellipse cover,  #f96300 0%,#fa700e 46%,#ffffff 100%); /* IE10+ */
	background: url(images/arrow.png) 50% 50% no-repeat, radial-gradient(ellipse at center,  #f96300 0%,#fa700e 46%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f96300', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*верхнее меню*/
#top_menu {
	margin: 8px 0px 0 0;
	overflow: hidden;
	max-height: 40px;
}

#top_menu nav a:first-child {
	margin-left: 19px;
}

#top_menu nav a {
	font: bold 1.6em Arial, Verdana, sans-serif;
	color: #606060; 
	text-decoration: none;
	display: block;
	float: left;
	padding: 9px 37.5px;
	border-top: 3px solid transparent;
	outline: none;
}

#top_menu nav a:first-child {
	padding: 9px 24px 9px 40px;	
}

#top_menu nav a:last-child {
	padding: 9px 0px 9px 37px;
}


#top_menu nav a:hover {
	color: #383838;
}

#top_menu nav a:hover {
	border-top: 3px solid #fd7d10;
}

#top_menu nav a:focus {
	-moz-box-shadow: 0px 0px 1px #3088a9 inset;
	-webkit-box-shadow: 0px 0px 1px #3088a9 inset;
	box-shadow: 0px 0px 1px #3088a9 inset;
}

/*основной блок*/
#main_block {
	border-top: 1px solid #f1f1f1;
}


#sidebar {
	float: left;
	 box-shadow: 0 21px 14px -19px #e2e2e2 inset;
}
/*левое меню*/
.left_menu {
	width: 232px;
	border-top: 1px solid #95c443;
	border-bottom: 1px solid #95c443;
	margin: 30px 24px 0 24px;
	padding: 5px 5px 21px 0; 
}

.left_menu li {
	display: table;
	list-style: none;
	padding-bottom: 8px;
	min-height: 32px;
}

.left_menu li:last-child {
	padding-bottom: 0px;
}

.left_menu li a {
	display: table-cell;
	vertical-align: middle;
}

.left_menu li a.text {
	font: bold 1.4em Arial, Verdana, sans-serif;
	color: #606060;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;	
}

.left_menu li a.text:hover {
	text-decoration: underline;
}

/*форма обратно связи*/
.feedback h1 {
	font: 1.8em Arial, Verdana, sans-serif;
	color: #000;
	margin: 8px 0 16px 24px;
}

.feedback label {
	display: block;
	font: 1.2em Arial, Verdana, sans-serif;
	color: #343434;
	margin: 5px 0 5px 30px;
}

.feedback input[type="text"], .feedback input[type="textarea"] {
	margin: 0 0 0 24px;
	width: 198px;
	border: 1px solid #bababa;
}

.feedback input[type="text"] {
	height: 18px;
}

.feedback input[type="textarea"] {
	height: 78px;
}

#main_block .feedback button {
	width: 113px;
	margin: 10px 0 0 60px;
}